/*CSS Dokument*/
#menuewrapper{
background: var(--semidarkgrey);
color: #ffffff;
height: 80px !important; 
padding: 5px 5px 2px 5px !important;
font-size: 40px !important;
margin-bottom: 20px !important;
display: flex;
flex-direction: row;
align-content: space-between;
}

.headerimage{
margin-right: 20px;
}

.menueitem{
margin-top: 12px;
font-size: 50px;
margin-right: 20px;
vertical-align: middle;
}


.menuelink a:hover{
color: var(--semidarkgrey);
text-decoration: none;
}

.menuelink a:link{
color: #ffffff;
text-decoration: none;
}
